@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:wght@400;500;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");

* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

li {
  list-style: none;
}

/* NAV */

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
}

.logo {
  margin: 16px 12px 16px 32px;
  max-width: 40px;
  max-height: 40px;
}

.treact {
  font-size: 24px;
  font-weight: 900;
}

.treact:hover {
  color: #6415ff;
}

.logo__wrapper {
  height: 65px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__links {
  font-weight: bold;
  display: flex;
  list-style-type: none;
  width: 50%;
  justify-content: space-around;
  margin: 16px 0 0 150px;
  position: relative;
}

.link__sign-up {
  background-color: #6415ff;
  color: white;
  padding: 12px 24px;
  border-radius: 25px;
}

.link__sign-up:hover {
  background-color: #3a0a98;
  transition: 300ms ease;
  cursor: not-allowed;
}

.link {
  justify-content: space-between;
  margin-top: 8px;
}

.link:hover {
  text-decoration: underline;
  cursor: not-allowed;
}

.btn__menu--open {
  padding: 8px;
  font-size: 16px;
  background-color: transparent;
  border: none;
}

.menu__link {
  display: none;
}

.btn__menu--close {
  display: none;
}

/* HEADING */

.header {
  display: flex;
}
.header__container {
  height: 300px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 20px 0 60px 0;
}

.header__title {
  font-size: 36px;
  margin: 40px;
  width: 100%;
  text-align: left;
}

.header__wrapper {
  width: 40%;
}

.purple {
  color: #6415ff;
}

.header__para {
  font-size: 18px;
  margin: 32px 32px 32px 40px;
  width: 100%;
  text-align: left;
}

.email__btn {
  padding: 8px 32px;
  border-radius: 25px;
  border: white;
  background-color: #6415ff;
  color: white;
}

.email__btn:hover {
  background-color: #3a0a98;
  cursor: not-allowed;
}

.email__wrapper {
  display: flex;
  border: 2px solid lightgray;
  border-radius: 50px;
  margin: 40px 40px 40px 60px;
  width: 50%;
  padding: 5px 332px 5px 32px;
}

input.email {
  border: white;
  border-radius: 25px;
  font-size: 16px;
}

.desk__img {
  width: 100%;
  margin: 40px;
}

p.customers {
  margin: 40px;
  font-size: 16px;
  align-items: center;
  color: darkgray;
  padding-left: 40px;
  text-align: center;
}

.customer__logo {
  padding: 0 32px 0 40px;
  width: 100%;
  align-items: center;
}

/* FEATURES */

#features {
  text-align: center;
  margin-top: 400px;
}

.features__container {
  justify-content: space-around;
  text-align: center;
}

.features__title {
  font-size: 16px;
}

.features__heading {
  margin-top: 16px;
  font-size: 48px;
  font-weight: 900;
  opacity: 0.8;
}

.features__para {
  align-items: center;
  margin: 24px 150px 0 150px;
  color: darkgray;
}

.services__container {
  display: flex;
  flex-wrap: wrap;
  padding: 80px 0;
  height: 500px;
  margin: 0 40px;
}

.service {
  width: calc(100% / 3);
  max-width: 1050px;
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
}

.service__title {
  font-size: 24px;
  font-weight: 700;
  margin: 16px 24px 0 24px;
  height: 32px;
  justify-content: center;
  align-items: center;
}

.service__para {
  font-size: 16px;
  margin: 24px 60px 60px 60px;
  font-weight: 500;
  color: darkgray;
  text-align: left;
}

.service__icon {
  color: #6415ff;
  transform: scale(1.25);
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 25px;
  margin-top: 32px;
  padding-top: 12px;
}

.img__container {
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
}

/* QUALITY WORK*/

.quality__container {
  width: 100%;
  max-width: 1300px;
  margin: 100px 40px 0 40px;
  height: 80vh;
  display: flex;
}

.quality__heading--wrapper {
  width: 50%;
  max-width: 1300px;
}

.quality__title {
  font-size: 16px;
  font-weight: 700;
  margin: 40px;
  width: 100%;
  max-width: 1300px;
  padding: 24px 0;
  text-align: left;
}

.quality__heading {
  width: 100%;
  font-weight: 900;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.quality__para {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  padding: 0 32px 32px 32px;
  color: darkgray;
  line-height: 1.5;
}
.quality__img {
  width: 100%;
  border: 1px solid lightgray;
}

.quality__img--wrapper {
  width: 50%;
}

.quality__btn {
  padding: 12px 32px;
  border-radius: 25px;
  border: white;
  background-color: #6415ff;
  color: white;
  margin: 0 40px;
}

.quality__btn:hover {
  background-color: #3a0a98;
  transition: 300ms ease;
  cursor: not-allowed;
}

/* STEPS */

.steps__container {
  display: flex;
  height: 100vh;
  margin: 150px 0;
}

.steps__img--wrapper {
  width: 50%;
}

.steps__img {
  width: 100%;
  padding-top: 100px;
}

svg {
  transform: scale(-90);
}

.steps__heading--wrapper {
  width: 50%;
  height: 30vh;
}

.steps__title {
  font-size: 16px;
  text-align: left;
  font-weight: 700;
}

.steps__heading {
  font-size: 48px;
  margin: 16px 0;
  font-weight: 900;
}

.number {
  font-size: 36px;
  font-weight: 600;
  margin: 24px 40px;
  width: 10%;
  position: absolute;
  color: lightgray;
  text-align: left;
}

.num__title {
  font-size: 20px;
  font-weight: 600;
  width: 40%;
}

.step__wrapper {
  justify-content: space-between;
  width: 30%;
}

.step__para {
  width: 250px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 12px;
  max-width: 320px;
}

.title__para--wrapper {
  width: 250px;
  max-width: 1000px;
  margin: 48px 0 40px 150px;
}

/* VALUES */

.values__icon--wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.values__container {
  display: block;
  width: 50%;
  padding: 40px;
}

.values__title {
  font-size: 16px;
  font-weight: 700;
}

.values__heading {
  font-size: 48px;
  font-weight: 700;
  margin: 24px 0;
}

.values__para {
  font-size: 16px;
  text-align: left;
  color: darkgray;
  margin: 16px 0;
}

.value__title {
  height: 50px;
  font-size: 20px;
  text-align: center;
  width: 75px;
  padding: 30px 0 0 0;
  opacity: 0.8;
}

.icon__title--wrapper {
  display: flex;
}

.icon__para {
  width: 100%;
  text-align: left;
  display: block;
  padding: 0 16px;
  font-size: 18px;
  color: darkgray;
  margin: 24px 0 32px 0;
}

.icon__para--container {
  height: 50%;
  width: 50%;
  max-width: 700px;
}

.para__icon--wrapper {
  display: flex;
  height: 30%;
}

.values__icon--container {
  width: 50px;
  height: 50px;
  display: flex;
}

.dollar__icon {
  width: 36px;
  height: 36px;
  padding: 6px 16px 8px 12px;
  background-color: lightgreen;
  font-size: 20px;
  margin: 24px 16px 8px 8px;
  color: darkgreen;
  border: 50px;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
}

.suitcase__icon {
  width: 36px;
  height: 36px;
  padding: 6px 16px 8px 8px;
  background-color: lightcoral;
  font-size: 20px;
  margin: 24px 16px 8px 8px;
  color: red;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
}

.value__btn {
  padding: 12px 28px;
  font-weight: 700;
  font-size: 14px;
  border: none;
  background-color: #6415ff;
  color: white;
  border-radius: 20px;
}

.value__btn:hover {
  background-color: #3a0a98;
  transition: 300ms ease;
  cursor: not-allowed;
}

.value__img--container {
  width: 50%;
}

.value__img {
  width: 100%;
  max-width: 700px;
  margin-top: 100px;
}

/* PRICING */

.pricing__heading--container {
  width: 100%;
  max-width: 1300px;
  justify-content: center;
  text-align: center;
  margin: 150px 40px 40px 40px;
}

.price__heading {
  font-size: 48px;
  margin: 32px;
  font-weight: 900;
  opacity: 0.8;
}

.price__para {
  margin: 16px 150px;
  font-size: 18px;
  color: darkgray;
  width: 70%;
  text-align: center;
  display: block;
}

.price__title {
  align-items: center;
  font-size: 16px;
  font-weight: 700;
}

.plans__container {
  display: flex;
  width: 100%;
  margin: 24px 80px;
}

.plans {
  width: calc(100% / 3);
  display: block;
  text-align: center;
  justify-content: space-between;
  border: 2px solid lightgray;
  border-radius: 15px;
  margin: 0 8px;
}

.individual__plan {
  border-top: 8px solid #22b4c2;
  padding-top: 32px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.plans:nth-child(2) {
  border-top: 8px solid #6415ff;
  padding-top: 32px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: linear-gradient(0deg, #2f72ee 0%, #6415ff 80%) no-repeat;
}

.enterprise__plan {
  border-top: 8px solid crimson;
  padding-top: 32px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.price__name {
  font-size: 20px;
  font-weight: 700;
  padding-top: 16px 0;
}

.price {
  font-size: 48px;
  font-weight: 700;
  margin-top: 16px;
}

.monthly {
  font-weight: 700;
  font-size: 16px;
  color: darkgray;
  padding: 24px 0;
  border-bottom: 2px solid lightgray;
}

.plan__title {
  font-size: 20px;
  padding: 32px 0 24px 0;
}

.item {
  font-size: 16px;
  padding: 0 24px 24px 24px;
  font-weight: 500;
  color: darkgray;
}

.item:last-child {
  border-bottom: 2px solid lightgray;
}

.personal__plan--btn {
  padding: 16px;
  width: 60%;
  margin: 48px 32px;
  align-items: center;
  color: white;
  border: #22b4c2;
  border-radius: 25px;
  font-weight: 700;
  font-size: 14px;
  background: linear-gradient(115deg, #22b4c2 0%, #acf8ff 100%);
}

.personal__plan--btn:hover {
  transform: scale(1.1);
  cursor: not-allowed;
}

.business__plan--btn {
  padding: 16px;
  width: 60%;
  margin: 48px 32px;
  align-items: center;
  background-color: white;
  color: #6415ff;
  border: white;
  border-radius: 25px;
  font-weight: 700;
  font-size: 14px;
}

.business__plan--btn:hover {
  transform: scale(1.1);
  cursor: not-allowed;
}

.enterprise__plan--btn {
  padding: 16px;
  width: 60%;
  margin: 48px 32px;
  align-items: center;
  color: white;
  border: crimson;
  border-radius: 25px;
  font-weight: 700;
  font-size: 14px;
  background: linear-gradient(115deg, crimson 0%, rgb(248, 124, 149) 100%);
}

.enterprise__plan--btn:hover {
  transform: scale(1.1);
  cursor: not-allowed;
}

/* TESTIMONIALS */

.testimonials__container {
  display: flex;
  width: 100%;
  max-width: 1300px;
  padding: 100px 50px;
  height: 140vh;
}

.testimonials__img--container {
  width: 100%;
}

.testimonials__heading--container {
  width: 50%;
  text-align: left;
  margin: 0 48px;
}

.testimonials__img {
  width: 100%;
  margin-top: 200px;
}

.testimonial__title {
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  margin-left: 40px;
}

.testimonial__heading {
  font-size: 48px;
  font-weight: 900;
  padding: 16px 48px;
  opacity: 0.8;
}

.testimonial__heading--para {
  padding: 0 48px;
  font-size: 16px;
  font-weight: 500;
  color: darkgray;
}

.stars {
  color: goldenrod;
  border: white;
  margin-left: 40px;
  padding-top: 24px;
}

.testimonial__h3 {
  font-size: 20px;
  font-weight: 900;
  margin: 16px 0 16px 40px;
}

.testimonial__p {
  margin: 40px;
}

.testimonials__bottom {
  display: flex;
  width: 100%;
}

.photo__random--girl {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
  margin: 0 0 28px 40px;
  animation: animate-random-girl 800ms 200ms backwards;
}

.name__box {
  text-align: center;
  font-size: 16px;
  width: 300px;
  margin: 12px;
}

.btn__box {
  width: 50%;
  height: 120px;
  margin-left: 150px;
}

.left__arrow {
  width: 48px;
  height: 48px;
  font-size: 24px;
  background-color: lightgray;
  color: #6415ff;
  border-radius: 25px;
  border: white;
}

.left__arrow:hover {
  background-color: darkgray;
  color: white;
  cursor: not-allowed;
}

.right__arrow {
  width: 50px;
  height: 50px;
  font-size: 24px;
  background-color: lightgray;
  color: #6415ff;
  border-radius: 25px;
  border: white;
}

.right__arrow:hover {
  background-color: darkgray;
  color: white;
  cursor: not-allowed;
}

/* BOTTOM */

.bottom__container {
  width: 90%;
  height: 300px;
  margin: 80px;
  display: flex;
  background-color: #6415ff;
  border-radius: 10px;
}

.bottom__para {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  width: 60%;
  color: white;
  margin: 100px 0 0 40px;
}

.bottom__btn {
  width: 25%;
  margin: 115px 40px;
  background-color: #6415ff;
  border: #6415ff;
}

.get__started--btn {
  padding: 24px 48px;
  background-color: rgb(247, 98, 128);
  color: white;
  border-radius: 50px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.get__started--btn:hover {
  background-color: crimson;
  cursor: not-allowed;
}

.contact__us--btn {
  padding: 24px 48px;
  background-color: #6415ff;
  color: white;
  border-radius: 50px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border: 3px solid lightgray;
}

.contact__us--btn:hover {
  background-color: white;
  color: #6415ff;
  cursor: not-allowed;
}

/* FOOTER */

.footer__container {
  width: 100%;
  max-width: 1300px;
  height: 250px;
  display: flex;
  background-color: #6415ff;
}

.footer__list {
  width: calc(100% / 4);
  text-align: center;
  padding: 32px 0;
}

.footer__title {
  color: white;
  font-size: 16px;
}

.footer__links {
  height: 20vh;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  justify-content: space-around;
}

.footer__link {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 8px;
}

.footer__bottom {
  background-color: #6415ff;
  border-top: 1px solid lightgray;
  display: flex;
  width: 100%;
}

.footer__logo {
  width: 50px;
  height: 50%;
  margin: 24px;
}

.logo__name {
  font-size: 24px;
  color: white;
  margin-top: 32px;
}

.footer__copyright {
  color: white;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  margin-left: 200px;
  padding-top: 32px;
}

.footer__logos {
  display: flex;
  margin: 32px 16px 16px 240px;
}

.facebook__logo {
  background-color: white;
  width: 32px;
  height: 32px;
  padding: 8px 0 0 10px;
  margin: 0 24px;
  border-radius: 25px;
}

.facebook__logo:hover {
  background-color: darkgray;
}

.twitter__logo {
  background-color: white;
  width: 32px;
  height: 32px;
  padding: 8px 0 0 8px;
  margin: 0 24px;
  border-radius: 25px;
}

.twitter__logo:hover {
  background-color: darkgray;
}

.youtube__logo {
  background-color: white;
  width: 32px;
  height: 32px;
  padding: 8px 0 0 7px;
  margin: 0 24px;
  border-radius: 25px;
}

.youtube__logo:hover {
  background-color: darkgray;
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 768px) {
  .nav__links {
    display: none;
  }

  .nav__container {
    padding: 0 24px;
    width: 100%;
    max-width: 768px;
    align-items: center;
  }

  .treact {
    display: none;
  }

  .btn__menu--open {
    padding: 8px;
    font-size: 24px;
    background-color: transparent;
    border: none;
    color: #6415ff;
  }

  .off__screen--menu {
    background-color: #3a0a98;
    height: 100vh;
    width: 100%;
    max-width: 768px;
    position: fixed;
    top: 0;
    right: -768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    transition: 300ms ease;
    padding-top: 50px;
  }

  .off__screen--menu:openMenu() {
    right: 0;
  }

  .btn__menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
  }

  .logo {
    height: 50px;
    width: 50px;
  }

  .email__wrapper {
    transform: scale(0.66);
    margin: 0 0 -50px 0;
  }
}

/* SMALL PHONES, LARGE SMARTPHONES */

@media (max-width: 576px) {
  .nav__links {
    display: none;
  }

  .btn__menu {
    display: block;
  }
}
